$red = #c41728
$green = #467f23

.over-budget
    color: $red

.under-budget
    color: $green

.budget-reports
    list-style: none
    margin: 0 0 2em
    padding: 0

.budget-month
    display: inline-block
    margin-right: 2em
    width: 32em

.budget-month-categories
    list-style: none
    margin: 0
    padding: 0

    li
        margin: 0

    li.budget-header
        span
            background: #eee

    li span
        display: inline-block
        margin: 0
        padding: 0.4em
        border: 1px solid #888

        &.budget-month-category-name
            width: 16em

        &.budget-month-category-total
            width: 7em
            text-align: right

        &.budget-month-category-limit
            width: 7em
            text-align: right

    li.budget-footer
        margin: 1em 0 2em

        h4
            display: inline-block
            width: 15em
            margin: 0
            padding: 0

        span
            width: 15em
            text-align: right

            &.total-income, &.total-expenses, &.total-remainder
                padding: 0
                border: none

            &.total-expenses
                color: $red
