.over-budget
    color: #c41728

.budget-reports
    list-style: none
    margin: 0 0 2em
    padding: 0

.budget-month-categories
    list-style: none
    margin: 0
    padding: 0

    li
        margin: 0

    li.budget-header
        span
            background: #eee

    li span
        display: inline-block
        margin: 0
        padding: 0.4em
        border: 1px solid #888

        &.budget-month-category-name
            width: 13em

        &.budget-month-category-total
            width: 5em
            text-align: right

        &.budget-month-category-limit
            width: 5em
            text-align: right
