.category-list
    & li
        margin-bottom: 1em
        & h3
            display: inline-block
            margin: 0 0.5em 0 0
        & label
            display: inline-block
            font-size: 0.8em

.add-category-form
    h2
        margin: 1.5em 0 0.5em

    input
        display: inline-block
        margin-right: 0.5em
        font-size: 1em

    [type="submit"]
        display: block
        margin-top: 1em
