.transaction-list
    list-style: none
    margin: 1em 0
    padding: 0

.transaction
    margin: 0
    padding: 0.75em 0.5em
    display: flex
    background-color: #fff
    transition: background-color 2s

    &:nth-child(even)
        background-color: #eee
        &.deposit
            background-color: #f7fff4

    &.deposit
        background-color: #edffe8

    &.in-budget
        &::after
            content: 'in-budget'
            display: inline-block
            margin-top: 0.7em
            margin-left: 1em
            font-size: 0.7em
            text-transform: uppercase

    &.is-saved
        background-color: rgba(5, 29, 170, 0.25)

.editable-transaction-form
    > span
        display: inline-block

.transaction-date
    width: 7em

.transaction-amount
    width: 5em
    padding-right: 1em
    text-align: right

.transaction-payee
    width: 24em

.transaction-category
    width: 14em

.transaction-account
    width: 8em
    font-size: 0.8em
    text-align: center

.transaction
    input
        margin-right: 0.25em
        padding: 0.25em
        font-size: 1em

    button
        display: inline-block
        margin-left: 1em
