extends ../templates/layout

block content

    h1 Import

    form#importForm.import-form
        input(type='text' name='filename' placeholder='filename' value='2015-01-checking.csv')
        input(type='text' name='account' placeholder='account' value='checking-usaa')
        button(type='submit') Submit

    #results

block scripts
    script(src="/scripts/import.bundle.js")
